<div class="action-bar">
    <div class="container">
      <button type="button" class="btn btn-primary">Preview</button>
      <button type="button" class="btn btn-primary">Download</button>
    </div>
</div>
