<div class="thumbnail-slider">
  <div class="card">
    <img src="images/icons/photo.png" alt="" />
    <h3>sample.png</h3>
  </div>
  <div class="card">
    <img src="images/icons/movie.png" alt="" />
    <h3>movie.avi</h3>
  </div>
  <div class="card">
    <img src="images/icons/doc.png" alt="" />
    <h3>document.doc</h3>
  </div>
</div>
