<div class="thumbnail-slider">
  {{#each files as |file|}}
    <div {{action "triggerActionBar" file}} class="card {{if file.selected 'selected' ''}}">
      <img src="images/icons/{{extension-mapping file.name}}.png" alt=""/>
      <h3>{{file.name}}</h3>
    </div>
  {{/each}}
</div>
