@import "bootstrap-variables";
@import "bootstrap";
@import "ember-paper";
@import "hover";
@import "mixins";
@import "pages/home";
@import "pages/about";
@import "pages/people";
@import "pages/signup";
@import "pages/signin";
@import "pages/profile";
@import "pages/notifications";

/** Override Styles **/

html, body {
  background: $drop-grey;
  height: 100%;
  width: 100%;
  position: relative;
}

h1, h2, h3, h4 {
  padding: 0px;
  margin: 0px;
}

.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

.navbar-brand {
  background: rgba(0, 0, 0, 0.2);
  padding: 8px 15px;
}

.navbar-default .navbar-nav > li > a {
  color: $drop-white;
}

.navbar-default .navbar-nav > li > a:hover {
  color: $drop-grey;
}

.navbar-toggle:hover, .navbar-toggle:focus {
  background-color: rgba(0, 0, 0, 0.2) !important;
}
/********************/

/**** Hero Wrapper *******/

.align-left {
  text-align: left !important;
}

.align-right {
  text-align: right !important;
}

.align-center {
  text-align: center !important;
}

.header {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 999999;
}

.p2pdrop-liquid-wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  padding-top: 52px;
}

.hero-wrapper {
  background: $drop-grey;
}

.form-wrapper {
  margin: 20px auto;
  width: 80%;
}

.fill-width {
  width: 100%;
}

.header-banner {
  margin: 10px auto;
  display: table;
  color: $drop-dark-grey;

  h4 {
    margin-top: 10px;
    margin-left: -12px;
  }
}

.alert-box.alert {
    background-color: #f04124;
    border-color: #de2d0f;
    color: #FFF;
}

.alert-box.info {
    background-color: #a0d3e8;
    border-color: #74bfdd;
    color: #4f4f4f;
}
/************************/
