<div class="dropzone">
    {{thumbnail-slider class="thumbnail-slider-wrapper"}}
    <div class="dropzone-content">
      <div class="drop-content">
        <h2 class="header">
          DROP FILES HERE
        </h2>
        <img src="images/logo/p2pdrop-logo-white-256.png" alt="" height="256" width="256" />
      </div>
    </div>
    {{file-select-drop class="dropzone-widget"}}
</div>
