/**** Home *******/

#home {
  height: 100%;
  width: 100%;
  padding-left: $sidebar-padding;

  #sidebar-wrapper {
    margin-left: -$sidebar-padding;
    left: $sidebar-padding;
    width: 300px;
    background: $drop-white;
    position: fixed;
    height: 100%;
    z-index: 10000;
    transition: all .4s ease 0s;
    -webkit-box-shadow: 10px 0px 6px -11px rgba(168,168,168,0.84);
    -moz-box-shadow: 10px 0px 6px -11px rgba(168,168,168,0.84);
    box-shadow: 10px 0px 6px -11px rgba(168,168,168,0.84);

    .sidebar-menu {
      display: block;
      float: left;
      width: $sidebar-padding;
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        width: 150px;
        text-align: center;
        line-height: 40px;
        float: left;
        -webkit-transition: background .5s;
        -moz-transition: background .5s;
        -o-transition: background .5s;
        -ms-transition: background .5s;
        transition: background .5s;
        background-color: $drop-light-grey;
        color: $drop-dark-grey;
        border-bottom: 3px solid $drop-light-grey;
        cursor: pointer;

        &.active {
          border-bottom: 3px solid $drop-blue;
        }

        &.v-div {
          border-right: 1px solid #ccc;
        }

        .title {
          padding-left: 10px;
        }
      }

    }

    .sidebar-nav {
        display: block;
        float: left;
        width: $sidebar-padding;
        list-style: none;
        margin: 0;
        padding: 0;

        li {
          line-height: 60px;
          text-indent: 20px;
          -webkit-transition: background .5s;
          -moz-transition: background .5s;
          -o-transition: background .5s;
          -ms-transition: background .5s;
          transition: background .5s;
          color: $drop-dark-grey;
          border-bottom: 1px solid rgba(169, 169, 169, 0.2);
          cursor: pointer;

          &.active {
            background-color: $drop-grey;
          }

          .name {
            padding-left: 10px;
          }

          .profile-image {
            height: 48px;
            width: 48px;
            background-repeat: no-repeat;
            background-size: contain;
            background-image: url('images/placeholder_profile.png');
          }

          .time {
            float: right;
            color: $drop-dark-grey;
            font-size: 12px;
            margin-top: -18px;
            margin-right: 7px;
          }
        }
      }
    }

    #dropzone-wrapper {

      @include max-height(700px) {
        .dropzone {
          .thumbnail-slider-wrapper {
            height: 100px !important;
            .thumbnail-slider {
              .card {
                height: 80px !important;
                width: 80px !important;
                padding: 5px !important;
                margin: 8px !important;
                img {
                  height: 32px !important;
                  width: 32px !important;
                }
                h3 {
                  font-size: 10px !important;
                  height: 12px !important;
                }
              }
            }
          }
        }

        .dropzone-content {
          top: 40px !important;
        }
      }

      .dropzone {
        height: 100%;
        width: 100%;

        .thumbnail-slider-wrapper {
          height: 150px;
          width: 100%;

          .thumbnail-slider {
            height: 100%;
            width: 100%;
            padding: 5px;
            overflow-x: scroll;
            overflow-y: hidden;
            white-space: nowrap;

            .card {
              height: 120px;
              width: 120px;
              background: $drop-white;
              margin: 10px;
              padding: 10px;
              border-radius: 5px;
              -webkit-box-shadow: -1px 0px 0px 0px rgba(50, 50, 50, 0.2);
              -moz-box-shadow: -1px 0px 0px 0px rgba(50, 50, 50, 0.2);
              box-shadow: -1px 0px 0px 0px rgba(50, 50, 50, 0.2);
              display: inline-block;
              cursor: pointer;

              img {
                margin: 10px auto;
                display: block;
                height: 64px;
                width: 64px;
              }

              h3 {
                font-size: 14px;
                font-weight: 300;
                color: $drop-dark-grey;
                text-align: center;
                text-overflow: ellipsis;
                overflow: hidden;
                height: 16px;
                width: 100%;
                margin: 5px 0;
              }

              &.selected {
                border: 1px solid $drop-blue;
              }
            }
          }
        }

        .dropzone-content {
          width: 300px;
          height: 300px;
          position: absolute;
          top:0px;
          bottom: 0;
          left: 320px;
          right: 0;
          margin: auto;
          padding-left: 20px;
          padding-top: 8px;
          border: 2px dashed #ccc;
          border-radius: 6px;

            .header {
              color: $drop-green;
              font-weight: 200;
              position: relative;
            }
        }

        .dropzone-widget {
          position: absolute;
          height: 100%;
          width: 100%;

          #p2p-file-drop-zone {
            height: 100%;
            width: 100%;
          }

          #p2p-files {
            display: none;
          }
        }

        .action-bar-wrapper {
          position: absolute;
          bottom: 0;
          height: 60px;
          width: 100%;

          .action-bar {
            height: 60px;
            width: calc(100% - 300px);

            .container {
              height: 100%;
              width: 100%;
              display: flex;
              margin: 0px auto;
              padding: 10px;
              border-top: 1px solid #ccc;

              .btn {
                margin: 0px auto;
                height: 40px;
                width: 200px;
                padding: 10px;
              }

              h1 {
                font-size: 24px;
                line-height: 35px;
                color: #ABABAB;
                margin: 0px auto;
                display: block;
              }

            }
          }
        }
      }
    }
 }

 /*****************************************/
