/****** People Styles ******/

#people-search-input {
    margin:0;
    margin-top: 10px;
    padding: 0;

    .search {
      background: url("../images/icons/search.png");
      height: 16px;
      width: 16px;
    }

    .search-bg {
      background: $drop-green;
    }

    .search-query {
        padding-right: 4px;
        padding-left: 15px;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */

        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        height: 40px;
    }

    button {
        border: 0;
        background: none;
        /** belows styles are working good */
        padding: 2px 5px;
        margin-top: 2px;
        position: relative;
        left: -36px;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }

    .search-query:focus + button {
        z-index: 3;
    }
}

.tile-wrapper {
  margin-top: 10px;

  .tile {
    height: 155px;
    width: 128px;
    float: left;
    margin: 20px;
    cursor: pointer;
    overflow: hidden;

    .name {
      color: $drop-dark-grey;
      font-weight: 200;
      font-size: 16px;
      text-align: center;
      line-height: 25px;
      white-space: nowrap;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

}

.detail-container {
  .top-panel {
    height: 60px;
    width: 100%;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;

    .back-btn {
      padding: 10px 20px;
      background: $drop-green;
      color: $drop-white;
      line-height: 60px;
      text-decoration: none;
    }
  }

  .left-panel {
    width: 300px;
    height: 100%;
    float: left;

    .profile-pic {
      height: 155px;
      width: 128px;
      margin: 20px auto;
      cursor: pointer;
      overflow: hidden;

      .name {
        color: $drop-dark-grey;
        font-weight: 200;
        font-size: 16px;
        text-align: center;
        line-height: 25px;
        white-space: nowrap;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  .right-panel {
    height: 100%;
    border-left: 1px solid #ccc;
    float: left;
    padding: 20px;

    .profile-content {
      .control-label {
        color: $drop-dark-grey;
      }
      .form-control-static {
        color: $drop-dark-grey;
        font-weight: 200;
      }
      .btn {
        padding: 10px 0px;
        width: 200px;
        margin-left: 15px;
        margin-top: 10px;
        background: $drop-blue;
        color: $drop-white;
        text-decoration: none;
        float: left;
      }
    }
  }

}
/**************************/
