.signin-wrapper {
  width: 380px;
  margin: 0px auto;
  padding: 10px;
  background: #fafafa;
  border: 1px solid #ebebeb;
  box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;

  .center {
    margin: 0px auto;
    text-align: center;
    display: table;
  }

  .btn-width {
    width: 300px;
  }

  md-input-container.md-default-theme > md-icon {
    color: rgba(0, 0, 0, 0.54);
  }
}
