<div class="detail-container">
  <div class="left-panel">
      <div class="profile-pic">
        <img src="images/dummy/ajain.png" alt="" height="128" width="128" data-profile-image="123"/>
        <h2 class="name">Ajain Vivek</h2>
      </div>
  </div>
  <div class="right-panel">
    <div class="profile-content">

    </div>
  </div>
</div>
