<div id="people-search-input">
   <div class="input-group col-md-12">
       <input type="text" class="  search-query form-control" placeholder="Search" />
       <span class="input-group-btn">
           <button class="btn btn-success search-bg" type="button">
               <span class="glyphicon search"></span>
           </button>
       </span>
   </div>
</div>

<div id="peoples" class="tile-wrapper">
 <div class="tile hvr-grow hvr-underline-from-center">
   <img src="images/dummy/ajain.png" alt="" height="128" width="128" data-profile-image="123"/>
   <h3 class="name">
     {{link-to 'Ajain Vivek' 'people.detail'}}
   </h3>
 </div>

 <div class="tile hvr-grow hvr-underline-from-center">
   <img src="images/dummy/szymon.jpeg" alt="" height="128" width="128"/>
   <h3 class="name">
     Szymon
   </h3>
 </div>
</div>
