<div id="about">
  <div class="about-content">
    <img src="images/logo/p2pdrop-logo-128.png" alt="" height="128" width="128" class="logo"/>
    <h1>
      P2PDrop
    </h1>
    <p class="highlight">
      Version 0.1.1
    </p>
    <p>
      Official free Peer to Peer File Sharing Application.
    </p>
    <p>
      This application is licensed under <span class="highlight">MIT</span>, source code is available on <a href="#"><span class="highlight">Github</span></a>
    </p>
  </div>
  <div class="bottom-right">
      Powered by <a href="http://chaicode.com" target="_blank" class="highlight">Chaicode</a>
  </div>
</div>
